@media only screen and (max-width: 1200px) {
    footer {
        .footer_top {
            .footer_links {
                gap: 20px;
            }
        }
    }
}

@media only screen and (max-width: 993px) {
    header {
        nav {
            display: none;
        }

        .logo {
            display: none;
        }

        .header_burger {
            flex: 1;
            display: flex;
        }
        
        .header_contact {
            flex: 1;
        }

        .header_media_logo {
            padding: 20px 0;
            width: 126px;
            display: flex; 
            justify-content: center;
        }
    }

    footer {
        .footer_top {
            padding: 40px 0;

            .footer_logo {
                display: none;
            }

            .line_one {
                display: none;
            }

            .footer_top_contact {
                display: none;
            }

            .line {
                margin: 0 30px;
            }

            .line_three {
                display: none;
            }

            .footer_links {
                gap: 30px;

                a {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16px;
                }
            }

            .footer_top_block_media {
                display: none;
            }
        }

        .footer_bottom {
            padding: 10px 0;
            .footer_bottom_social {
                display: none;
            }

            .footer_text {
                p {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16px;
                }
            }
        }

        .footer_center {
            display: flex;
        }
    }
}

@media only screen and (max-width: 744px) {
    .main_container {
        padding: 0 20px;
    }

    header {
        .header_contact {
            display: none;
        }

        .header_phone_media {
            flex: 1;
            display: flex;
            justify-content: end;
        }
    }
}

@media only screen and (max-width: 650px) {
    footer {

        .footer_top {
            padding: 20px 0 40px 0;

            .footer_top_block {
                width: 100%;
            }

            .footer_links {
                flex-direction: column;
                gap: 16px;
            }

            .line {
                height: 270px;
            }

            .footer_link {
                gap: 16px;
            }
        }

        .footer_center {
            flex-wrap: wrap;
            gap: 20px;
            padding: 0 0 20px 0;

            .footer_center_logo {
                order: 1;
            }

            .footer_center_contact {
                order: 2;
            }

            .footer_center_social {
                order: 3;
                margin: 0 auto;
            }
        }

        .footer_bottom {
            .year {
                white-space: nowrap;

                span {
                    display: block;
                }
            }

            .site_map {
                display: none;
            }

            .footer_text {
                gap: 12px;
            }
        }
    }
}

@media only screen and (max-width: 430px) {
    footer {
        .footer_bottom {

            .footer_text {

                p {
                    font-size: 12px;
                }
            }
        }
    }
}