@media only screen and (max-width: 1300px) {
    .home {
        p {
            max-width: 491px;
        }
    }
}

@media only screen and (max-width: 1200px) {

    .work {
        .work_card {
            padding: 20px;

            h6 {
                font-size: 20px;
                font-weight: 700;
                line-height: 23px;
            }

            a {
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
            }
        }
    }

    .choice {
        padding: 60px 0;

        .choice_text {
            .main_title_under {
                font-size: 30px;
                font-weight: 400;
                line-height: 37px;

                .main_title_under_coral {
                    font-size: 30px;
                    font-weight: 400;
                    line-height: 37px;
                }
            }
            
            .main_btn_white {
                padding: 20px 30px;
            }
        }

        .choice_img {
            img {
                width: 50%;
                transform: rotate(-9deg);
                position: absolute;
                top: -58px;
                right: -166px;
            }
        }
    }

    footer {
        .footer_top {
            .footer_links {
                gap: 20px;
            }
        }
    }
}

@media only screen and (max-width: 1100px) {
    
    .contact_home {

        .contact_title {
            font-size: 30px;
            font-weight: 400;
            line-height: 37px;
            letter-spacing: 0%;
        }

        .contact_home_in {
            padding: 60px 0;
        }

        .contact_home_left {
            max-width: 300px;


            .contact_logo {
                margin-bottom: 30px;
                width: 193px;
            }
        }

        .contact_home_right {
            width: 473px;
            bottom: -100px;
            right: -160px;
        }
    }
}

@media only screen and (max-width: 993px) {

    .main_container {
        padding: 0 60px;
    }

    .main_title {
        font-size: 40px;
        font-weight: 400;
        line-height: 49px;
    }

    .main_title_coral {
        font-size: 40px;
        font-weight: 400;
        line-height: 49px;
    }

    .main_title_under {
        font-size: 30px;
        line-height: 37px;
    }

    .main_title_under_coral {
        font-size: 30px;
        line-height: 37px;
    }

    header {
        nav {
            display: none;
        }

        .logo {
            display: none;
        }

        .header_burger {
            flex: 1;
            display: flex;
        }
        
        .header_contact {
            flex: 1;
        }

        .header_media_logo {
            padding: 20px 0;
            width: 126px;
            display: flex; 
            justify-content: center;
        }
    }

    .home {
        .home_text {
            padding-top: 120px;
        }

        .main_title {
            margin-bottom: 10px;
        }

        h6 {
            font-size: 20px;
            font-weight: 400;
            line-height: 23px;
            margin-bottom: 10px;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            margin-bottom: 30px;
        }

        .main_btn_white {
            padding: 20px 30px;
            margin-bottom: 106px;
        }

        .home_social_media {
            padding-bottom: 60px;
        }

        .home_user_desktop {
            width: 463px;
            right: -115px;
            bottom: -33px;
        }
    }

    .services_home {
        .home_user_desktop {
            width: 583px;
            bottom: 0;
        }

        .home_text {
            padding-top: 70px;
        }
    }

    .choice {
        padding: 40px 0;
        .choice_text {
            .main_title_under {
                max-width: 379px;
            }
        }

        .choice_img {
            img {
                width: 513px;
                transform: rotate(-24deg);
                position: absolute;
                top: -25px;
                right: -170px;
            }
        }
    }

    .services {
        margin: 85px 0;

        .main_title_under {
            margin-bottom: 30px;
            font-size: 30px;
            line-height: 37px;
        }

        .servicesSwiper {

            .swiper-wrapper {
                @media only screen and (min-width: 744px) {
                    display: flex;
                    align-items: stretch;
                    flex-wrap: wrap;
                    gap: 20px;
                }
                
            }
            
            .swiper-slide {
                @media only screen and (min-width: 744px) {
                    width: calc(100% / 2 - 10px);
                }

                .services_card {
                    padding: 20px;
                }
            }
        }
    }

    .about_company {
        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
        }
    }

    .quality {
        margin-bottom: 80px;

        .main_title_under {
            margin-bottom: 30px;
        }

        .quality_in {
            gap: 20px;
        }

        .quality_card {
            padding: 23px 11px;
            width: calc(100% / 2 - 10px);

            p {
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
            }
        }
    }

    .seo_promation {
        padding: 60px 0;

        .main_btn_white {
            padding: 20px 30px;
        }
    }

    .price_services {
        margin: 60px 0;

        .price_servicesSwiper {
            padding: 30px 0;
        }

        .price_services_card {
            padding: 20px 25px 40px 25px;

            .price_services_head {
                a {
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 19px;
                }

                p {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16px;
                }
            }

            .price_services_body {
                li {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16px;
                }
            }

            .price_services_bottom {

                del {
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 23px;
                }

                h5 {
                    font-size: 30px;
                    font-weight: 700;
                    line-height: 35px;
                }

                .main_btn_black {
                    width: 100%;
                    padding: 15px 10px;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 19px;
                }
            }
        }

    }

    .work {
        margin-bottom: 60px;

        .main_title_under {
            margin-bottom: 30px;
        }

        .work_card {
            padding: 20px;
            height: 174px;

            h6 {
                font-size: 20px;
                font-weight: 700;
                line-height: 23px;
            }

            a {
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
            }

            img {
                width: 106px;
            }
        }
    }

    .partner {
        margin-bottom: 60px;

        .partner_card {
            gap: 10px;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            margin: 10px auto 20px auto;
        }
    }

    .articles {
        .main_title_under {
            margin-bottom: 30px;
        }

        .articles_card {
            h6 {
                font-size: 16px;
                font-weight: 700;
                line-height: 19px;
            }

            p {
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
            }

            a {
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
            }
        }
    }

    .seo_text {
        .main_title_under {
            margin-bottom: 30px;
        }

        .seo_text_content {
            p {
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
            }

            a {
                font-size: 14px;
            }
        }

    }

    .services_home_under {
        .main_container {
            gap: 18px;
        }

        .services_home_card {

            svg {
                width: 70px;
                height: 70px;
            }

            h6 {
                margin: 15px 0 10px 0;
                font-size: 16px;
                line-height: 19px;
            }
    
            p {
                font-size: 14px;
                line-height: 16px;
            }
        }
    }

    .why_seo {
        margin: 80px 0;

        .main_title_under {
            margin-bottom: 30px;
        }

        .why_seo_in {
            gap: 20px;
        }

        .why_seo_card {
            padding: 20px;
            @include flex-column;
            gap: 10px;

            h6 {
                margin-bottom: 15px;
            }
        }
    }

    footer {
        .footer_top {
            padding: 40px 0;

            .footer_logo {
                display: none;
            }

            .line_one {
                display: none;
            }

            .footer_top_contact {
                display: none;
            }

            .line {
                margin: 0 30px;
            }

            .line_three {
                display: none;
            }

            .footer_links {
                gap: 30px;

                a {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16px;
                }
            }

            .footer_top_block_media {
                display: none;
            }
        }

        .footer_bottom {
            padding: 10px 0;
            .footer_bottom_social {
                display: none;
            }

            .footer_text {
                p {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16px;
                }
            }
        }

        .footer_center {
            display: flex;
        }
    }

    .services_seo {
        .main_container {
            padding: 60px 30px 40px 60px;
        }

        .services_seo_text {
            max-width: 302px;

            .main_btn_black {
                padding: 15px 30px;
            }
        }

        .services_seo_img {
            width: 600px;
            bottom: -60px;
        }
    }

    .order_services {

        .order_services_in {
            gap: 20px;
        }

        .order_services_card {
            padding: 20px;
            width: calc(100% / 2 - 10px);
        }
    }

    .answer {
        .main_title_under {
            margin-bottom: 20px;
        }

        .answer_in {
            .accordion button {
                .accordion-title {
                    text-align: left;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 23px;
                }
            }
        }
    }

    .contact {
        padding: 50px 0;

        h6 {
            font-size: 16px;
            font-weight: 700;
            line-height: 19px;
        }

        form {
            gap: 10px;

            .form_block {
                width: calc(100% / 3 - 7px);
            }

            .main_btn_white {
                white-space: nowrap;
            }
        }
    }

    .new_home {

        .main_title {
            font-size: 30px;
            font-weight: 400;
            line-height: 37px;
            margin-bottom: 20px;
        }

        .new_home_in {
            gap: 20px;
            .new_home_text {
                p {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16px;
                    margin-bottom: 10px;
                }

                .home_text_list {
                    margin-bottom: 15px;
                }

                ul {
                    li {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 16px;
                    }
                }
            }
        }
    }

    .new_home_under_text {
        margin: 60px 0 40px 0;

        h3 {
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            margin-bottom: 20px;
        }

        p {
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
        }

        .news_center_img {
            margin: 20px 0;
            width: 100%;
        }
    }

    .articles {
        margin: 60px 0;
    }

    .cases_home {
        .home_text {
            padding-top: 0;
        }

        .main_title {
            margin-bottom: 20px;
            font-size: 30px;
            font-weight: 400;
            line-height: 37px;

            .main_title_coral {
                font-size: 30px;
                font-weight: 400;
                line-height: 37px;
            }
        }

        .main_btn_white {
            font-size: 30px;
            font-weight: 700;
            line-height: 35px;
            letter-spacing: 0%;
            padding: 10px 12px;
            margin-bottom: 140px;
        }
    }

    .cases_in {
        margin: 40px 0;

        .main_container {
            gap: 80px;
        }

        .cases_card {
            gap: 20px;
            h4 {
                font-size: 20px;
                font-weight: 400;
                line-height: 24px;
            }
    
            p {
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
            }
        }
    }

    .error {
        height: auto;
        background-image: url('../images/error_table_bg.png');
        background-size: 100%;
        background-position:center;
        
        .main_container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
        }

        .error_text {
            padding: 48px 0;
        }
        .error_img {
            position: relative;
            right: -80px;
        }
    }
    
}

@media only screen and (max-width: 743px) {
    .main_container {
        padding: 0 20px;
    }

    header {
        .header_contact {
            display: none;
        }

        .header_phone_media {
            flex: 1;
            display: flex;
            justify-content: end;
        }
    }

    .about_company {
        margin-bottom: 60px;

        .main_title_under {
            margin-bottom: 20px;
        }

        .about_company_in {
            flex-direction: column-reverse;
            gap: 15px;
        }

        p {
            max-width: 100%;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
        }
        
        .about_company_img {
            width: 100%;

            img {
                width: 100%;
            }
        }
    }

    .articles {
        .main_title_under {
            margin-bottom: 20px;
        }
    }

    .partner {
        .partner_title_two {
            margin-bottom: 20px;
        }
    }

    .seo_text {
        margin-bottom: 60px;

        .main_title_under {
            margin-bottom: 20px;
        }

        p {
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
        }
    }

    .work {
        .work_card {
            h6 {
                font-size: 18px;
                font-weight: 700;
                line-height: 21px;
            }
        }
    }

    .services_home_under {
        margin: 40px 0 60px 0;
        .main_container {
            @include flex-column;
            gap: 10px;
        }

        .services_home_card {
            padding: 20px;
            text-align: left;
            width: 100%;
            display: flex;
            gap: 15px;
            
            h6 {
                margin: 0 0 10px 0;
            }
        }
    }

    .services_home {
        .main_breadcrumbs {
            margin-bottom: 16px;
        }
    }

    .services_seo {
        .main_container {
            padding: 40px 20px;
            display: flex;
            flex-direction: column-reverse;

            .services_seo_img {
                width: 500px;
                bottom: -122px;
                left: -57px;
                transform: rotate(20deg);
            }
        }

        .services_seo_text {
            padding: 0;
            max-width: 100%;
            padding-bottom: 190px;

            .main_title_under {
                text-align: center;
                margin-bottom: 10px;
            }

            p {
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
            }

            .main_btn_black {
                height: 50px;
                @include flex-full-center;
                padding: 0;
                width: 250px;
                margin: 10px auto 0 auto;
            }
        }
    }

    .why_seo {
        margin: 60px 0;
        .why_seo_card {
            padding: 0;
            width: 100%;
            text-align: center;

            img {
                margin: 0 auto;
            }

            h6 {
                font-size: 14px;
                font-weight: 700;
                line-height: 16px;
                margin-bottom: 10px;
            }

            p {
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
            }
        }
    }

    .cases {
        margin: 80px 0;
        .cases_btn {
            .main_btn_black {
                padding: 15px 30px;
            }
        }
    }

    .order_services {

        margin-bottom: 80px;

        .main_title_under {
            margin-bottom: 20px;
        }

        .order_services_in {
            @include flex-column;
        }

        .order_services_card {
            width: 100%;

            img {
                width: 45px;
            }

            h6 {
                font-size: 14px;
                font-weight: 700;
                line-height: 16px;
                margin-bottom: 10px;
            }

            p {
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
            }
        }
    }

    .answer {
        margin-bottom: 40px;

        .answer_in {
            .accordion button {
                padding: 0 10px;
                .accordion-title {
                    padding: 10px 0;
                    text-align: left;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19px;
                }
                 
                img {
                    flex-shrink: 0;
                    width: 30px;
                }
            }

            .accordion {
                .accordion-content {
                    p {
                        margin: 10px;
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .contact {
        padding: 40px 0;
        form {
            @include flex-column;
            gap: 10px;
            
            .form_block {
                height: 50px;
                width: 100%;
                font-size: 16px;
                font-weight: 500;
                line-height: 20px;
            }

        }
        p {
            font-size: 10px;
            font-weight: 500;
            line-height: 12px;
        }
    }

    .new_main_breadcrumbs {
        margin: 10px 0 18px 0;

        span {
            font-size: 10px;
            font-weight: 400;
            line-height: 12px;
        }
    }

    .new_home {

        .main_title {
            font-size: 24px;
            font-weight: 400;
            line-height: 29px;
            margin-bottom: 20px;
        }

        .new_home_in {
            @include flex-column;

            .new_home_img {
                width: 100%;
                img {
                    height: 221px;
                    object-fit: cover;
                }
            }
        }
    }

    .contact_home {
        .contact_home_in {
            padding: 20px 0;
            flex-direction: column;
        }

        .contact_title {
            font-size: 26px;
            font-weight: 400;
            line-height: 32px;
        }

        .contact_home_left {
            margin-bottom: 225px;
            max-width: 221px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .contact_logo {
                width: 125px;
                margin: 0 auto 20px auto;
            }

            ul {
                align-items: center;
                gap: 23px;

                li {
                    gap: 1px;
                }

                a {
                    text-align: center;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 17px;
                }
            }
        }

        .contact_home_right {
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 356px;
            bottom: -145px;
        }
    }

    .cases_home {

        .new_main_breadcrumbs {
            margin: 70px 0 19px 0;
        }

        .main_title {
            font-size: 26px;
            font-weight: 400;
            line-height: 32px;
            margin-bottom: 26px;
        }

        .main_btn_white {
            margin-bottom: 76px;
        }
    }

    .cases_in {
        .cases_card {
            flex-direction: column;

            .cases_card_text {
                padding: 30px;
                display: flex;
                align-items: end;
                gap: 20px;

                .cases_card_block {
                    margin-bottom: 0;
                }
            }
        }

        .main_container {
            gap: 60px;
        }

        .cases_card_two {
            flex-direction: column-reverse;
        }
    }

    .error {
        background-image: url('../images/error_media_bg.png');

        .error_text {
            padding: 160px 0 48px 0;

            h1 {
                font-size: 100px;
                font-weight: 900;
                line-height: 122px;
            }

            h6 {
                font-size: 20px;
                font-weight: 800;
                line-height: 24px;
                margin: 0 auto 27px auto;
            }

            a {
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
            }
        }

        .error_img {
            position: relative;
            width: 100%;
            right: -80px;
        }
    }
}

@media only screen and (max-width: 650px) {

    .main_title {
        font-size: 26px;
        font-weight: 400;
        line-height: 32px;
    }

    .main_title_coral {
        font-size: 26px;
        font-weight: 400;
        line-height: 32px;
    }

    .main_title_under {
        font-size: 26px;
        line-height: 32px;
    }

    .main_title_under_coral {
        font-size: 26px;
        line-height: 32px;
    }

    .home {
        .home_text {
            padding-top: 94px;
            text-align: center;

            .home_social_media {
                display: none;
            }

            .main_title {
                margin-bottom: 6px;
            }

            h6 {
                margin-bottom: 14px;
                font-size: 16px;
                line-height: 19px;
            }
            
            p {
                font-size: 14px;
                line-height: 16px;
                max-width: 100%;
                margin-bottom: 10px;
            }

            .main_btn_white {
                padding: 15px 20px;
                margin-bottom: 0;
            }
        }

        .home_user_desktop {
            display: none;
        }

        .home_img {
            display: flex;
            justify-content: center;
            position: relative;

            .home_img_social_media {
                position: absolute;
                bottom: 22px;
                @include flex-center;
                gap: 20px;
            }
        }
    }

    .services {
        margin: 50px 0;

        .main_title_under {
            font-size: 26px;
            margin-bottom: 20px;
        }

        .servicesSwiper {
            .services_card {
                ul {
                    gap: 12px;

                }

                svg {
                    width: 100%;
                }
            }
        }
    }

    .choice {
        padding: 40px 0;
        .choice_text {
            .main_title_under {
                max-width: 379px;
                font-size: 26px;
                font-weight: 400;
                line-height: 32px;
            }

            .main_title_under_coral {
                display: inline;
                font-size: 26px;
                font-weight: 400;
                line-height: 32px;
            }

            .main_btn_white {
                padding: 15px 20px;
            }
            
        }

        .choice_img {
            img {
                width: 513px;
                transform: rotate(-24deg);
                position: absolute;
                top: -25px;
                right: -170px;
            }
        }
    }

    .quality {

        .main_title_under {
            margin-bottom: 20px;
        }

        .quality_in {
            @include flex-column;
            gap: 10px;
        }

        .quality_card {
            width: 100%;
            padding: 15px 30px;

            img {
                width: 50px;
            }
        }
    }

    .seo_promation {
        padding: 40px 0;

        .main_btn_white {
            padding: 15px 30px;
        }

        .main_title_under {
            font-size: 26px;
            font-weight: 400;
            line-height: 32px;
        }

        .main_title_under_coral {
            margin-top: 10px;
            font-size: 26px;
            font-weight: 400;
            line-height: 32px;
        }
    }

    .cases_home {

        .main_breadcrumbs {
            span {
                font-size: 10px;
                font-weight: 400;
                line-height: 12px;
            }
        }

        .home_text {
            text-align: left;
            padding-top: 0;
        }

        .main_title {
            font-size: 26px;
            font-weight: 400;
            line-height: 32px;

            .main_title_coral {
                font-size: 26px;
                font-weight: 400;
                line-height: 32px;
            }
        }

        .main_btn_white {
            font-size: 30px;
            font-weight: 700;
            line-height: 35px;
            letter-spacing: 0%;
            padding: 10px 12px !important;
            margin: 26px 0 76px 0 !important;
        }
    }

    footer {

        .footer_top {
            padding: 20px 0 40px 0;

            .footer_top_block {
                width: 100%;
            }

            .footer_links {
                flex-direction: column;
                gap: 16px;
            }

            .line {
                height: 270px;
            }

            .footer_link {
                gap: 16px;
            }
        }

        .footer_center {
            flex-wrap: wrap;
            gap: 20px;
            padding: 0 0 20px 0;

            .footer_center_logo {
                order: 1;
            }

            .footer_center_contact {
                order: 2;
            }

            .footer_center_social {
                order: 3;
                margin: 0 auto;
            }
        }

        .footer_bottom {
            .year {
                white-space: nowrap;

                span {
                    display: block;
                }
            }

            .site_map {
                display: none;
            }

            .footer_text {
                gap: 12px;
            }
        }
    }
}

@media only screen and (max-width: 430px) {
    .mobile_menu {
        background-color: rgb(26, 60, 85);
        
        .mobile_link {
            width: 100%;
            border-right: none;
            align-items: center;
            gap: 40px;
            
            a {
                color: $color-white;
                font-size: 20px;
                font-weight: 400;
                line-height: 23px;
                letter-spacing: 0%;
            }
        }

        .mobile_dropdown_link {
            display: none;
        }
    }

    .mobile_menu.active {
        background: rgb(26, 60, 85);
        height: 100%;
        width: 100%;
    }

    footer {
        .footer_bottom {

            .footer_text {

                p {
                    font-size: 12px;
                }
            }
        }
    }
}