@media only screen and (max-width: 993px) {
    header {
        nav {
            display: none;
        }

        .logo {
            display: none;
        }

        .header_burger {
            flex: 1;
            display: flex;
        }
        
        .header_contact {
            flex: 1;
        }

        .header_media_logo {
            width: 126px;
            display: flex; 
            justify-content: center;
        }
    }
}

@media only screen and (max-width: 744px) {
    .main_container {
        padding: 0 20px;
    }

    header {
        .header_contact {
            display: none;
        }

        .header_phone_media {
            flex: 1;
            display: flex;
            justify-content: end;
        }
    }
}