// mixin
@mixin flex-full-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-full-stretch {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

@mixin flex-column {
    flex-direction: column;
}

@mixin flex-start {
    display: flex;
    align-items: start;
}

@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin transition {
    transition: .2s ease;
}
// mixin

// color
$color-white: rgb(255, 255, 255); 
// color

// fonts
$font-Montserrat: 'Montserrat',sans-serif;
// fonts

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a {
    text-decoration: none !important;
    color: inherit;
    display: inline-block;
}

a:hover {
    color: inherit;
}

img {
    max-width: 100%;
}

span, label {
    display: inline-block;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway',sans-serif;
    font-style: normal;
}

input {
    outline: none;
}

button {
    border: none;
    cursor: pointer;
    background: transparent;
    outline: 0 !important;
}

address {
    font-style: normal;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
label {
    padding: 0;
    margin: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.hidden.active {
    overflow-y: hidden;
}

.main_container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 60px;
}

.main_title {
    color: rgb(54, 61, 68);
    font-family: $font-Montserrat;
    font-size: 60px;
    font-weight: 400;
    line-height: 73px;
    letter-spacing: 0%;
    text-transform: uppercase;
}

.main_title_coral {
    background: linear-gradient(-31.11deg, rgb(149, 128, 61),rgb(162, 139, 69),rgb(201, 174, 95),rgb(201, 174, 95),rgb(216, 177, 84),rgb(140, 109, 59));
    -webkit-background-clip:
    text;
    -webkit-text-fill-color:
    transparent;
    background-clip:
    text;
    text-fill-color:
    transparent;
    font-family: $font-Montserrat;
    font-size: 60px;
    font-weight: 400;
    line-height: 73px;
    letter-spacing: 0%;
    text-transform: uppercase;
}

.main_title_under {
    color: rgb(54, 61, 68);
    font-family: $font-Montserrat;
    font-size: 40px;
    font-weight: 400;
    line-height: 49px;
    text-transform: uppercase;
}

.main_title_under_coral {
    background: linear-gradient(-31.11deg, rgb(149, 128, 61),rgb(162, 139, 69),rgb(201, 174, 95),rgb(201, 174, 95),rgb(216, 177, 84),rgb(140, 109, 59));
    -webkit-background-clip:
    text;
    -webkit-text-fill-color:
    transparent;
    background-clip:
    text;
    text-fill-color:
    transparent;
    font-family: $font-Montserrat;
    font-size: 40px;
    font-weight: 400;
    line-height: 49px;
    text-transform: uppercase;
}

.main_btn_white {
    color: $color-white;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    border: 1px solid rgb(255, 255, 255);
    @include transition();
    
    &:hover {
        text-shadow: 4px 4px 4px rgba(109,109,109,0.6);
        color: $color-white;
        background: linear-gradient(-7.48deg, rgb(149, 128, 61) -32.808%,rgb(162, 139, 69) -21.011%,rgb(201, 174, 95) -3.544%,rgb(234, 212, 168) 34.284%,rgb(216, 177, 84) 79.964%,rgb(140, 109, 59) 104.232%);
        border: 1px solid transparent;
    }

    &:active {
        text-shadow: none;
        box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        background: linear-gradient(-7.48deg, rgb(149, 128, 61) -32.808%,rgb(162, 139, 69) -21.011%,rgb(201, 174, 95) -3.544%,rgb(234, 212, 168) 34.284%,rgb(216, 177, 84) 79.964%,rgb(140, 109, 59) 104.232%);
    }
}

.main_btn_black {
    color: rgb(54, 61, 68);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    border: 1px solid rgb(54, 61, 68);
    @include transition();
        
    &:hover {
        text-shadow: 4px 4px 4px rgba(109,109,109,0.6);
        color: $color-white;
        background: linear-gradient(-7.48deg, rgb(149, 128, 61) -32.808%,rgb(162, 139, 69) -21.011%,rgb(201, 174, 95) -3.544%,rgb(234, 212, 168) 34.284%,rgb(216, 177, 84) 79.964%,rgb(140, 109, 59) 104.232%);
        border: 1px solid transparent;
    }

    &:active {
        text-shadow: none;
        box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        background: linear-gradient(-7.48deg, rgb(149, 128, 61) -32.808%,rgb(162, 139, 69) -21.011%,rgb(201, 174, 95) -3.544%,rgb(234, 212, 168) 34.284%,rgb(216, 177, 84) 79.964%,rgb(140, 109, 59) 104.232%);
    }
}

// mobile_menu
.mobile_menu {
    background-color: $color-white;
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
    height: 100%;
    left: -100%;
    padding: 110px 0 30px 0;
    @include flex-start();
    @include transition();

    .mobile_link {
        padding: 30px 36px;
        border-right: 1px solid rgb(217, 217, 217);
        display: flex;
        @include flex-column();
        gap: 19px;

        a {
            color: rgb(54, 61, 68);
            font-family: $font-Montserrat;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0%;
        }
    }

    .mobile_dropdown_link {
        display: flex;
        @include flex-column();
        gap: 19px;
        padding: 30px 36px;
        opacity: 0;
        position: relative;
        z-index: -2;
        @include transition();

        a {
            color: rgb(54, 61, 68);
            font-family: $font-Montserrat;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0%;
        }
    }

    .mobile_dropdown_link.active {
        opacity: 1;
        z-index: 1;
    }
}

.mobile_menu.active {
    left: 0;
}
// mobile_menu

// header
header {
    position: absolute;
    width: 100%;
    z-index: 4;
    background-color: transparent;

    .main_container {
        @include flex-center();
        justify-content: space-between;
    }

    .nav_link {
        @include flex-center();
        gap: 40px;

        .nav_item {
            padding: 30px 0;
            @include flex-center();
            gap: 7px;

            .dropdown_media_icon {
                display: none;
            }
        }
        
        a {
            color: $color-white;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0%;
        }
    }

    .dropdown_btn {
        position: relative;

        &:hover {
            .dropdown_link {
                display: flex;
                // opacity: 1;
                // z-index: 2;
            }
        }
    }

    .dropdown_link {
        box-shadow: 0px 4px 30px 0px rgba(54, 61, 68, 0.13);
        background: rgb(255, 255, 255);
        position: absolute;
        top: 100%;
        left: -33px;
        padding: 30px 35px 40px 35px;
        @include flex-column();
        display: flex;
        gap: 20px;
        display: none;
        @include transition();

        a {
            white-space: nowrap;
            color: rgb(54, 61, 68);
            font-family: $font-Montserrat;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0%;
        }
    }

    .header_contact {
        display: flex;
        align-items: end;
        @include flex-column();

        a {
            color: $color-white;
            font-family: $font-Montserrat;
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 0%;
            text-align: right;
        }

        span {
            color: $color-white;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0%;
            text-decoration-line: underline;
            opacity: 0.5;
        }
    }

    .header_burger {
        user-select: none;
        display: none;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            @include flex-column();
            gap: 10px;
            width: 30px;
            height: 30px;

            .burger_one {
                @include transition();
            }

            .burger_two {
                @include transition();
            }
        }
    }

    .header_burger.active {
        button {
            .burger_one {
                transform: translateY(12px)rotate(45deg);
            }
            
            .burger_two {
                transform: translateY(0px) rotate(-47deg);
            }
        }
    }

    .header_media_logo {
        display: none;
    }

    .header_phone_media {
        display: none;
    }
}

.header_blue {
    background-color: #335269;
}
// header

// home
.home {
    background-image: url('../images/home_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    .main_container {
        position: relative;
    }

    .home_text {
        padding-top: 182px;
    }

    .main_title {
        color: $color-white;
        margin-bottom: 25px;
        span {
            display: block;
        }
    }

    h6 {
        color: $color-white;
        font-size: 30px;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: 0%;
        margin-bottom: 20px;
    }

    p {
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0%;
        max-width: 804px;
        margin-bottom: 30px;
    }

    .main_btn_white {
        padding: 21px 44px;
        margin-bottom: 62px;
    }

    .home_social_media {
        @include flex-center();
        gap: 20px;
        padding-bottom: 86px;
    }

    .home_user_desktop {
        position: absolute;
        right: -220px;
        bottom: -60px;
        width: 40%;
        width: 713px;
    }

    .home_img {
        display: none;
    }
}
// home

// services
.services {
    margin: 100px 0;

    .main_title_under {
        text-align: center;
        margin-bottom: 40px;
    }

    .servicesSwiper {
        overflow: visible;
        
        .swiper-wrapper {
            @media only screen and (min-width: 993px) {
                display: flex;
                flex-wrap: wrap;
                gap: 30px;
            }
            
        }
        
        .swiper-slide {
            @media only screen and (min-width: 993px) {
                width: calc(100% / 3 - 20px);
                display: flex;
                height: auto;
            }
        }

        .services-pagination {
            display: flex;
            justify-content: center;
            gap: 20px;

            .swiper-pagination-bullet {
                width: 12px;
                height: 12px;
                @include transition();
                margin: 0;
            }

            .swiper-pagination-bullet-active {
                width: 24px;
                height: 12px;
                border-radius: 35px;
                background: linear-gradient(-31.11deg, rgb(149, 128, 61) -17.041%,rgb(162, 139, 69) -6.259%,rgb(201, 174, 95) 9.706%,rgb(234, 212, 168) 44.281%,rgb(216, 177, 84) 86.033%,rgb(140, 109, 59) 108.214%);
            }

            @media only screen and (min-width: 774px) {
                display: none;

            }
        }
        
        .services_card {
            width: 100%;
            padding: 30px;
            @include flex-start();
            justify-content: space-between;

            svg {
                path {
                    @include transition();
                }
            }

            h6 {
                color: rgb(54, 61, 68);
                font-size: 20px;
                font-weight: 700;
                line-height: 23px;
                letter-spacing: 0%;
                margin-bottom: 20px;
            }

            ul {
                @include flex-start();
                @include flex-column();
                gap: 20px;

                li {
                    color: rgb(54, 61, 68);
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19px;
                    letter-spacing: 0%;
                    opacity: .5;
                }
            }
        }
        
        .card_one {
            &:hover {
                svg {
                    path:nth-child(1) {
                        fill: #3BD1A2;
                    }
                    path:nth-child(2) {
                        fill: #CCE3DA;
                    }
                }
            }
        }

        .card_two {
            &:hover {
                svg {
                    path:nth-child(1) {
                        fill: #FFD100;
                    }
                    path:nth-child(2) {
                        fill: #FFD100;
                    }
                    path:nth-child(3) {
                        fill: #EDE9C6;
                    }
                }
            }
        }

        .card_three {
            &:hover {
                svg {
                    path:nth-child(1) {
                        fill: #FC6F00;
                    }
                    path:nth-child(2) {
                        fill: #EDE9C6;
                    }
                }
            }
        }

        .card_four {
            &:hover {
                svg {
                    path:nth-child(1) {
                        fill: #ED4A36;
                    }
                    path:nth-child(2) {
                        fill: #EFD2CF;
                    }
                }
            }
        }

        .card_five {
            &:hover {
                svg {
                    path:nth-child(1) {
                        fill: #C6DAE8;
                    }
                    path:nth-child(2) {
                        fill: #525CFF;
                    }
                }
            }
        }

        .card_six {
            &:hover {
                svg {
                    path:nth-child(1) {
                        fill: #B847FF;
                    }
                    path:nth-child(2) {
                        fill: #E4C0EE;
                    }
                }
            }
        }
    }
}
// services

// choice
.choice {
    overflow: hidden;
    padding: 100px 0;
    background-image: url('../images/choice_bg.png');
    background-size: cover;
    background-repeat: no-repeat;

    .main_container {
        position: relative;
        @include flex-center();
    }

    .choice_text {
        .main_title_under {
            max-width: 750px;
            color: $color-white;
            margin-bottom: 20px;
        }

        .main_btn_white {
            padding: 21px 45px;
        }
    }

    .choice_img {
        img {
            position: absolute;
            top: -105px;
            right: -180px;
        }
    }
}
// choice

// cases
.cases {
    margin: 100px 0;

    .main_title_under {
        text-align: center;
        margin-bottom: 40px;
    }

    .casesSwiper {  
        overflow: visible;
        
        .swiper-wrapper {
            @media only screen and (min-width: 993px) {
                display: flex;
                flex-wrap: wrap;
                gap: 30px;
            }
            
        }
        
        .swiper-slide {
            @media only screen and (min-width: 993px) {
                width: calc(100% / 3 - 20px);
                display: flex;
                height: auto;
            }
        }

        .cases-pagination {
            margin-top: 15px;
            display: flex;
            justify-content: center;
            gap: 20px;

            .swiper-pagination-bullet {
                width: 12px;
                height: 12px;
                @include transition();
                margin: 0;
            }

            .swiper-pagination-bullet-active {
                width: 24px;
                height: 12px;
                border-radius: 35px;
                background: linear-gradient(-31.11deg, rgb(149, 128, 61) -17.041%,rgb(162, 139, 69) -6.259%,rgb(201, 174, 95) 9.706%,rgb(234, 212, 168) 44.281%,rgb(216, 177, 84) 86.033%,rgb(140, 109, 59) 108.214%);
            }

            @media only screen and (min-width: 993px) {
                display: none;

            }
        }
        
        .cases_card {
            position: relative;
            width: 100%;
            @include flex-start();
            justify-content: space-between;

            img {
                width: 100%;
            }

            .cases_text {
                position: absolute;
                inset: 40px 30px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                @media only screen and (max-width: 993px) {
                    inset: 20px;
                }

                h6 {
                    color: $color-white;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 23px;
                }
                
                .main_btn_white {
                    width: 73px;
                    height: 37px;
                    margin: 0 auto;
                    @include flex-full-center();
                    color: $color-white;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 23px;
                    border: 1px solid $color-white;

                    &:hover {
                        border: 1px solid transparent;
                    }
                }

                p {
                    color: $color-white;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19px;
                }
            }
        }
    }

    .cases_btn {
        margin-top: 40px;
        @include flex-full-center();

        .main_btn_black {
            padding: 21px 45px;
        }
    }
}
// cases

// about_company
.about_company {
    margin-bottom: 95px;

    .about_company_in {
        max-width: 985px;
        margin: 0 auto;
        @include flex-center();
        gap: 32px;
    }

    .main_title_under {
        text-align: center;
        margin-bottom: 34px;
    }

    p {
        color: rgb(54, 61, 68);
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        max-width: 487px;
    }
}
// about_company

// quality
.quality {
    margin-bottom: 100px;

    .main_title_under {
        text-align: center;
        margin-bottom: 40px;
    }

    .quality_in {
        display: flex;
        align-items: start;
        gap: 30px;
        flex-wrap: wrap;
    }

    .quality_card {
        width: calc(100% / 4 - 23px);
        padding: 33px 30px;
        text-align: center;

        p {
            margin-top: 10px;
            color: rgb(54, 61, 68);
            font-size: 20px;
            font-weight: 400;
            line-height: 23px;
        }
    }
}
// quality

// seo_promation
.seo_promation {
    padding: 100px 0;
    text-align: center;
    background-image: url('../images/choice_bg.png');
    background-size: cover;
    background-repeat: no-repeat;

    .main_title_under {
        color: $color-white;
    }

    .main_btn_white {
        margin-top: 26px;
        padding: 26px 45px;
    }
}
// seo_promation

// price_services
.price_services {
    margin: 100px 0 60px 0;

    .main_title_under {
        text-align: center;
    }

    .price_servicesSwiper {
        padding: 40px 0 40px 0;
    }

    .price_services_card {
        border: 1px solid rgb(217, 217, 217);
        width: 100%;
        height: 100%;
        padding: 30px 30px 40px 30px;
        @include transition();

        .price_services_head {
            text-align: center;

            a {
                border: 1px solid transparent;
                padding: 13px 24px;
                color: rgb(54, 61, 68);
                font-size: 20px;
                font-weight: 700;
                line-height: 23px;
                margin-bottom: 11px;
            }

            p {
                color: rgb(54, 61, 68);
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
                padding-bottom: 20px;
                border-bottom: 1px solid rgb(217, 217, 217);
            }
        }

        .price_services_body {
            padding: 20px 0 20px 20px;
            display: flex;
            @include flex-column();
            gap: 15px;
            border-bottom: 1px solid rgb(217, 217, 217);

            li {
                list-style-type: disc;
                color: rgb(54, 61, 68);
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
                letter-spacing: 0%;
                text-align: left;
            }
        }

        .price_services_bottom {
            text-align: center;
            padding-top: 20px;

            del {
                color: rgb(54, 61, 68);
                font-size: 20px;
                font-weight: 400;
                line-height: 23px;
                text-decoration-line: line-through;
                opacity: .5;
            }

            h5 {
                color: rgb(54, 61, 68);
                font-size: 40px;
                font-weight: 700;
                line-height: 47px;
                margin-bottom: 20px;
            }

            .main_btn_black {
                padding: 21px 45px;
            }
        }

        &:hover {
            background: rgb(26, 60, 85);

            .price_services_head {
                a {
                    border: 1px solid $color-white;
                    color: $color-white;
                }

                p {
                    color: $color-white;
                    opacity: .7;
                }
            }

            .price_services_body {
                li {
                    color: $color-white;
                }
            }

            .price_services_bottom {
                del {
                    color: $color-white;
                    opacity: .5;
                }

                h5 {
                    color: $color-white;
                }

                .main_btn_black {
                    color: $color-white;
                    border: 1px solid $color-white;

                    &:hover {
                        border: 1px solid transparent;
                    }
                }
            }
        }
    }

    .price_services-pagination {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 20px;

        .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            @include transition();
            margin: 0;
        }

        .swiper-pagination-bullet-active {
            width: 24px;
            height: 12px;
            border-radius: 35px;
            background: linear-gradient(-31.11deg, rgb(149, 128, 61) -17.041%,rgb(162, 139, 69) -6.259%,rgb(201, 174, 95) 9.706%,rgb(234, 212, 168) 44.281%,rgb(216, 177, 84) 86.033%,rgb(140, 109, 59) 108.214%);
        }
    }
}
// price_services

// work
.work {
    margin-bottom: 100px;
    .main_title_under {
        text-align: center;
        margin-bottom: 40px;    
    }

    .work_card {
        height: 278px;
        position: relative;
        background: rgb(245, 245, 245);
        padding: 40px;
        display: flex;
        @include flex-column();
        justify-content: space-between;

        h6 {
            color: rgb(54, 61, 68);
            font-size: 30px;
            font-weight: 700;
            line-height: 35px;
        }

        a {
            color: rgb(54, 61, 68);
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            opacity: .5;
            text-decoration-line: underline !important;
        }

        img {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    .workswiper-pagination {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 20px;

        .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            @include transition();
            margin: 0;
        }

        .swiper-pagination-bullet-active {
            width: 24px;
            height: 12px;
            border-radius: 35px;
            background: linear-gradient(-31.11deg, rgb(149, 128, 61) -17.041%,rgb(162, 139, 69) -6.259%,rgb(201, 174, 95) 9.706%,rgb(234, 212, 168) 44.281%,rgb(216, 177, 84) 86.033%,rgb(140, 109, 59) 108.214%);
        }
    }
}
// work

// partner
.partner {
    margin-bottom: 100px;

    .main_title_under {
        text-align: center;
    }

    .partner_title_two {
        margin-bottom: 40px;
    }

    p {
        text-align: center;
        max-width: 808px;
        margin: 20px auto 40px auto;
    }

    .partner_card {
        @include flex-center();
        @include flex-column();
        gap: 30px;
    }

    .partner-pagination {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 20px;

        .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            @include transition();
            margin: 0;
        }

        .swiper-pagination-bullet-active {
            width: 24px;
            height: 12px;
            border-radius: 35px;
            background: linear-gradient(-31.11deg, rgb(149, 128, 61) -17.041%,rgb(162, 139, 69) -6.259%,rgb(201, 174, 95) 9.706%,rgb(234, 212, 168) 44.281%,rgb(216, 177, 84) 86.033%,rgb(140, 109, 59) 108.214%);
        }
    }
}
// partner

// articles
.articles {
    margin: 100px 0;

    .main_title_under {
        text-align: center;
        margin-bottom: 40px;
    }

    .articles_card {

        img {
            width: 100%;
        }

        h6 {
            margin: 10px 0;
            color: rgb(46, 49, 57);
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
        }

        p {
            color: rgb(46, 49, 57);
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            margin-bottom: 10px;
        }

        a {
            color: rgb(46, 49, 57);
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-decoration-line: underline;
            border-bottom: 1px solid ;
            opacity: .5;
        }
    }
}

.articles-pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;

    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        @include transition();
        margin: 0;
    }

    .swiper-pagination-bullet-active {
        width: 24px;
        height: 12px;
        border-radius: 35px;
        background: linear-gradient(-31.11deg, rgb(149, 128, 61) -17.041%,rgb(162, 139, 69) -6.259%,rgb(201, 174, 95) 9.706%,rgb(234, 212, 168) 44.281%,rgb(216, 177, 84) 86.033%,rgb(140, 109, 59) 108.214%);
    }
}
// articles

// seo_text
.seo_text {
    margin-bottom: 100px;

    .main_title_under {
        text-align: center;
        margin-bottom: 40px;
    }

    .seo_text_content {
        max-width: 787px;
        margin: 0 auto;
        
        p {
            color: rgb(54, 61, 68);
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            margin-bottom: 40px;
            margin-bottom: 10px;
        }

        a {
            color: rgb(54, 61, 68);
            font-family: $font-Montserrat;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            opacity: 0.5;
            text-decoration-line: underline;
            border-bottom: 1px solid;
        }
    }
}
// seo_text

// footer
footer {
    background: rgb(26, 60, 85);

    .footer_top {
        padding: 47px 0;
        @include flex-start();
        justify-content: space-between;

        .line {
            background-color: $color-white;
            opacity: 0.2;
            width: 1px;
            height: 150px;
            margin: 0 10px;
        }

        .footer_links {
            display: flex;
            gap: 20px 40px;
        }

        .footer_link {
            display: flex;
            @include flex-column();
            gap: 20px;
            a {
                color: $color-white;
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
                letter-spacing: 0%;
                opacity: .5;
            }
        }

        h6 {
            color: $color-white;
            font-size: 16px;
            font-weight: 600;
            line-height: 19px;
            letter-spacing: 0%;
            margin-bottom: 20px;
        }

        .footer_top_contact {
            display: flex;
            @include flex-column();
            a {
                white-space: nowrap;
                color: $color-white;
                font-size: 20px;
                font-weight: 700;
                line-height: 23px;
                letter-spacing: 0%;
                margin-bottom: 11px;
            }

            span {
                text-align: right;
                color: $color-white;
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
                letter-spacing: 0%;
                text-decoration-line: underline;
                opacity: .5;
            }
        }
    }

    .footer_center {
        display: none;
        padding: 0 0 50px 0;
        // display: flex;
        align-items: center;
        justify-content: space-between;

        .footer_center_social {
            @include flex-center();
            gap: 20px;
        }

        .footer_center_logo {
            img {
                width: 124px;
            }
        }

        .footer_center_contact {
            display: flex;
            @include flex-column();

            a {
                color: $color-white;
                font-size: 16px;
                font-weight: 700;
                line-height: 19px;
                letter-spacing: 0%;
            }

            span {
                color: $color-white;
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
                letter-spacing: 0%;
                text-align: right;
                text-decoration-line: underline;
                opacity: .5;
            }
        }
    }

    .footer_bottom {
        padding: 18px 0;
        background: rgba(0, 0, 0, 0.2);

        .main_container {
            @include flex-center();
            justify-content: space-between
        }

        .footer_text {
            @include flex-center();
            gap: 20px;
        }

        .footer_bottom_social {
            @include flex-center();
            gap: 20px;
        }

        p {
            color: rgb(255, 255, 255);
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            opacity: .5;

            span {
                display: none;
            }
        }
    }
}
// footer












@import 'responsive';